#custom-strong {
    font-weight: bold;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    border-bottom: none;
    display: inline;
}
  
#custom-span {
    font-weight: normal;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    border-bottom: none;
    display: inline;
}
  